.thumbnail-1{
    width: 300px;
    display: block;
}

.video-stats, 
.video-author{
    display: block;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.search-bar{
    display: block;
}

.channel-image{
    display: inline-block;
    width: 50px;
}

.video-details{
    display: inline-block;
    font-size: 15px;
    width: 200px;
}

.profile-picture{
    width: 100%;
}